@using QuanLiCHTL.Models;
@model IEnumerable<phieunhap>
@{
    ViewBag.Title = "lichsu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h4>Danh sách đặt hàng</h4>
<div style="width: 1000px; border: 3px white solid; border-radius:3px 3px;margin:20px;">
    <table class="table table-hover" style="overflow-y: scroll;margin:10px 0px 0px 50px;">
        <thead>
            <tr>
                <th>STT</th>
                <th>Số lượng</th>
                <th>Tổng tiền</th>
                <th>Ngày đặt</th>
                <th>Ngày giao</th>
                <th>Barcode phiếu nhập</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var phieunhap in Model)
            {
                <tr>
                    <td>@phieunhap.id</td>
                    <td>@phieunhap.soluong</td>
                    <td>@phieunhap.tongtien</td>
                    <td>@phieunhap.ngaydat</td>
                    <td>@phieunhap.ngaynhap</td>
                    <td>@if (phieunhap.ngaynhap != null) {@phieunhap.barcode;}</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@using (Html.BeginForm("lichsu", "CuaHang", FormMethod.Post))
{
    <input type="text" placeholder="Nhập vào barcode": name="iddh" />
    <button type="submit" class="btn btn-success">Xem đơn hàng</button>
    if (ViewBag.xdh != null)
    {
        <div style="width: 1000px; border: 3px white solid; border-radius:3px 3px;margin:20px;">
            <table class="table table-hover" style="overflow-y: scroll;margin:10px 0px 0px 50px;">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Barcode</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int stt = 1;
                    }
                    @foreach (var item in ViewBag.xdh)
                    {
                        <tr>
                            <td>@stt</td>
                            <td>@item.barcode</td>
                            <td>@item.tensp</td>
                            <td>@item.soluong</td>
                        </tr>
                        stt++;
                    }
                </tbody>
            </table>
        </div>
    }
}
